:root {
    --dark-gray: #222222;
    --dark-gray-liter: #222224;
    --gray: #6F6E6E;
    --midle-gray: #5D5D5D;
    --midl-lite-gray: #E1E1E1;
    --light-gray: #9F9F9F;
    --shadow-gray: #E5E5E5 --lite-pink: #F1E4E6;
    --midle-pink: #F26376;
    --dark-pink: #F16D7F;
    --coral: #FF6A6A;
    --braun: #211616B2;
    --bege: #F8F8F8;
    --white: #FBFBFB;
    --whiter: #FFFFFF;
}

body {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.header {
    background-color: var(--dark-gray);
    max-width: 1600px;
    margin: 0 auto;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.owerlay {
    display: none;
    position: absolute;
    width: 1368px;
    min-height: 764px;
    background: rgba(0, 0, 0, 0.5);
    right: 1px;
    top: 53px
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.header__items {
    position: relative;
}

.header__buttons-wrapper {
    display: flex;
    align-items: center;
    min-height: 75px;
    justify-content: space-between;
}

.header__button {
    background-color: transparent;
    border: none;
}

.header__logotipe {
    margin: 0 41px 0 0;
}

.header__button_menu {
    margin: 0 34px 0 0;
}

.header__button:hover,
.header__button:focus {
    opacity: 0.5;
    cursor: pointer;
}

.header__button_userpic {
    margin: 0 34px 0 0;
}


.header__navigation {
    display: none;
    background-color: var(--whiter);
    width: 232px;
    min-height: 764px;
    position: absolute;
    right: -232px;
    top: 53px;
}

.header__button_menu:active~.owerlay {
    display: block;
}

.header__button_menu:active~.header__navigation {
    display: block;
}

.header__navigation:hover,
.header__navigation:focus {
    display: block;
}

.header__button_closing {
    margin: 16px 17px 9px 203px;
}

.header__button_closing:active~.header__navigation {
    display: none;
}

.navigation__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    margin: 0 0 24px 34px;
}

.menu-list__title:hover,
.menu-list__title:focus {
    opacity: 0.5;
    cursor: pointer;
}

.list-items__item:hover,
.list-items__item:focus {
    opacity: 0.5;
    cursor: pointer;
}

.navigation-menu {
    text-decoration: none;
}

.menu-list__title {
    font-size: 14px;
    line-height: 17px;
    color: var(--dark-pink);
    text-transform: uppercase;
    margin: 0 0 0px 33px;
}

.list-items {
    text-decoration: none;
    margin: 12px 0 9px 55px;
}

.list-items__item {
    font-size: 14px;
    line-height: 17px;
    color: var(--gray);
    margin: 0 0 11px;
}

.brand {
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
}

.brand__title-wrapper {
    background-color: var(--lite-pink);
    display: flex;
    align-items: center;
    padding: 0 0 0 92px;
    flex-grow: 1;
}

.brand__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
}

.brand__subtitle {
    display: block;
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
}

.brand__color-subtitle {
    color: var(--dark-pink);
}

.offers__list {
    margin: 64px 0 96px;
    display: flex;
    flex-wrap: wrap;
}

.offers__item {
    color: var(--whiter);
    min-height: 260px;
    width: 360px;
    background-color: var(--braun);
    display: flex;
    justify-content: center;
    align-items: center;
}

.offers__item:hover,
.offers__item:focus {
    opacity: 0.5;
    cursor: pointer;
}

.offers__item_women {
    background-image: url(../img/women.jpg);
    margin: 0 30px 30px 0;
}

.offers__item_men {
    background-image: url(../img/men.jpg);
    margin: 0 30px 30px 0;
}

.offers__item_kids {
    background-image: url(../img/kids.jpg);
    margin: 0 0 30px;
}

.offers__item_accesories {
    background-image: url(../img/accesories.jpg);
    width: 100%;
    min-height: 180px;

}

.offers__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    min-height: 50px;
}

.offers__title-color {
    text-transform: uppercase;
    color: var(--dark-pink);
    display: block;
    font-size: 24px;
    line-height: 29px
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 95px;
}

.products__heading {
    font-size: 30px;
    line-height: 36px;
    color: var(--dark-gray);
}

.products__text {
    font-size: 14px;
    line-height: 17px;
    color: var(--light-gray);
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 48px 0 48px;
}

.products-list__item {
    max-width: 360px;
    min-height: 581px;
    margin: 0 0 30px;
    background-color: var(--bege);
    position: relative;
}

.products-list__pickter {
    margin: 0 0 24px;
}

.products-list__title {
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    margin: 0 18px 12px;
}

.products-list__features {
    color: var(--midle-gray);
    font-size: 13px;
    line-height: 16px;
}

.products-list__desc {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: var(--midle-gray);
    margin: 0 29px 0 16px;
}

.products-list__price {
    color: var(--dark-pink);
    margin: 18px 0 20px 18px;
}

.products-item__owerlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(58, 56, 56, 0.86);
}

.products-item__add-button {
    position: absolute;
    background: transparent;
    color: var(--whiter);
    font-size: 14px;
    line-height: 17px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #FFFFFF;
    padding: 13px 16px 12px 50px;
    display: none;
}

.products-item__add-button::before {
    content: '';
    width: 26px;
    height: 24px;
    position: absolute;
    background-image: url(../img/buskcet.png);
    background-size: 26px 24px;
    left: 13px;
    bottom: 8px;
}

.products-list__item:hover,
.products-list__item:focus~.products-item__owerlay {
    display: block;
    cursor: pointer;
}

.products-list__item:hover,
.products-list__item:focus~.products-item__add-button {
    display: block;
    cursor: pointer;
}

.products-button {
    text-decoration: none;
    color: var(--midle-pink);
    border-color: var(--coral);
    padding: 14px 38px 13px;
    border: 1px solid
}

.products-button:hover,
.products-button:focus {
    cursor: pointer;
    background-color: var(--dark-pink);
    color: var(--whiter);
}

.advantages {
    background-color: var(--dark-gray-liter);
    color: var(--white);
    max-width: 1600px;
    margin: 0 auto;
}

.advantages-list {
    display: flex;
    min-height: 341px;
    align-items: center;
    justify-content: space-between;
}

.advantages-list__item {
    text-align: center;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages-item__title {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 16px;
}

.advantages-item__ features {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

.box-size {
    width: 47px;
    height: 40px;
    margin: 0 0 25px;
}

.footer {
    max-width: 1600px;
    margin: 0 auto;
}

.subscription {
    background-image: url(../img/photo-subscribe.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.subscription-inner {
    display: flex;
    max-width: 1600px;
    min-height: 448px;
    align-items: center;
    justify-content: space-between;
}

.author-box {
    text-align: center;
}

.author-box__quote {
    font-size: 20px;
    line-height: 24px;
    color: var(--dark-gray-liter);
    margin: 30px 0 0;
    max-width: 359px;
}

.subscribe-form {
    text-align: center;
}

.subscribe-form__title {
    font-size: 18px;
    line-height: 30px;
    color: var(--dark-gray-liter);
    text-transform: uppercase;
    margin: 0 0 32px;
}

.subscribe-title__highlighted {
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
}

.subscribe-area {
    display: flex;
}

.subscribe-area__imput {
    width: 256px;
    height: 49px;
    border-radius: 22px 0 0 22px;
    border: none;
    background-color: var(--midl-lite-gray);
}

.subscribe-area__button {
    background-color: var(--dark-pink);
    width: 100px;
    height: 49px;
    border-radius: 0 22px 22px 0;
    border: none;
    color: var(--whiter);
}

.footer-section {
    background-color: var(--dark-gray-liter);
    color: var(--white);
}

.footer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 79px;
}

.socials {
    display: flex;
}

.socials-box {
    background-color: #FFFFFF;
    width: 31px;
    height: 32px;
    margin: 0 7px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials__icon-svg {
    fill: black
}

.socials-box:hover,
.socials-box:focus {
    background-color: var(--dark-pink);
    cursor: pointer;
}

.socials-box:hover,
.socials-box:focus~.socials__icon-svg {
    fill: var(--whiter);
}