 $nero: #222222;
 $black-russian: #222224;
 $dim-gray: #6f6e6e;
 $zambezi: #5d5d5d;
 $gainsboro: #e1e1e1;
 $nobel: #9f9f9f;
 $whisper: #e5e5e5;
 $amour: #f1e4e6;
 $brink-pink: #f26376;
 $froly: #f16d7f;
 $bittersweet: #ff6a6a;
 $seal-brown: #211616;
 $lavender-blush: #f8f3f4;
 $white-smoke: #f8f8f8;
 $snow: #fbfbfb;
 $white: #ffffff;
 $dark-gray: #b1b1b1;
 $darker-gray: #A4A4A4;
 $black: #000000;
 $matterhorn: #575757;
 $wild-watermelon: #ef5b70;

 $desctop-width: 1600px;
 $tablet-width: 768px;
 $mobile-width: 375px;