.header {
    background-color: $nero;
    @include overall-width;

    @include tablet {
        max-width: $tablet-width;
    }


    @include mobile {
        max-width: $mobile-width;
    }

    .header__buttons-wrapper {
        display: flex;
        align-items: center;
        min-height: 75px;
        justify-content: space-between;
        position: relative;
    }

    .header__logotipe {
        margin: 0 41px 0 0;

        @include tablet {
            margin-left: 32px;
        }

        @include mobile {
            margin-left: 16px;
        }
    }

    .header__button {
        background-color: transparent;
        border: none;
    }

    .header__button_menu {
        margin: 0 34px 0 0;
        min-height: 75px;

        @include tablet {
            margin-right: 25px;
        }

        @include mobile {
            margin-right: 16px;
        }
    }

    .header__button:hover {
        @include button-hover
    }

    .header__button_userpic {
        margin: 0 34px 0 0;

        @include tablet {
            margin-right: 42px;
        }

        @include mobile {
            display: none;
        }
    }

    .header__button_basket {
        @include tablet {
            margin-right: 32px;
        }

        @include mobile {
            display: none;
        }
    }

    .header__button_menu:hover~.owerlay {
        display: block;
    }

    .header__button_menu:hover~.header-navigation {
        display: block;
    }


    .owerlay {
        display: none;
        position: absolute;
        left: 0;
        width: 75%;
        min-height: 764px;
        background: rgba(0, 0, 0, 0.5);
        z-index: +998;
    }

    .header-navigation {
        display: none;
        background-color: $white;
        width: 25%;
        min-height: 764px;
        right: 0;
        position: absolute;
        z-index: +999;
        box-shadow: 0 0 232px rgba(0, 0, 0, 0.21);

        @include mobile {
            width: 100%;
        }
    }

    .header-navigation:hover~.header-navigation {
        display: block;
    }

    .header-navigation:hover~.owerlay {
        display: block;
    }


    .header__button_clozing {
        margin: 16px 17px 9px 203px;
    }

    .header__button_clozing:active~.header-navigation {
        display: none;
    }

    .header__button_clozing:active~.owerlay {
        display: none;
    }

    .navigation__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        margin: 0 0 24px 34px;
    }

    .menu-list__title {
        font-size: 14px;
        line-height: 17px;
        color: $froly;
        text-transform: uppercase;
        margin: 0 0 0px 33px;
    }

    .menu-list__title:hover {
        @include button-hover;
    }

    .list-items {
        margin: 12px 0 9px 55px;
    }

    .list-items__item {
        font-size: 14px;
        line-height: 17px;
        color: $dim-gray;
        margin: 0 0 11px;
    }

    .list-items__item:hover {
        @include button-hover;
    }
}