.offers {
    @include overall-width;

    .offers-list {
        padding: 64px 0 96px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @include tablet {
            padding: 20px 16px 155px;
        }

        @include mobile {
            padding: 64px 16px;
        }

        &__item {
            color: $white;
            min-height: 260px;
            width: 31%;
            background-color: $seal-brown;
            display: flex;
            justify-content: center;
            align-items: center;

            @include tablet {
                min-height: 167px;
            }

            @include mobile {
                min-height: 249px;
                width: 100%;
            }
        }

        &__item:hover {
            @include button-hover;
        }

        &__item_women {
            background-image: url(../img/women.jpg);
            margin: 0 30px 30px 0;
            background-size: cover;

            @include tablet {
                margin: 0 19px 19px 0;
            }

            @include mobile {
                margin: 0 0 32px;
            }
        }

        &__item_men {
            background-image: url(../img/men.jpg);
            margin: 0 30px 30px 0;
            background-size: cover;

            @include tablet {
                margin: 0 19px 19px 0;
            }

            @include mobile {
                margin: 0 0 32px;
            }
        }

        &__item_kids {
            background-image: url(../img/kids.jpg);
            margin: 0 0 30px;
            background-size: cover;

            @include tablet {
                margin: 0 0 19px;
            }

            @include mobile {
                margin: 0 0 32px;
            }
        }

        &__item_accesories {
            background-image: url(../img/accesories.jpg);
            width: 100%;
            min-height: 180px;
            background-size: cover;

            @include tablet {
                min-height: 116px;
            }

            @include mobile {
                min-height: 111px;
            }
        }

        &__title {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            min-height: 50px;
        }

        &__title-color {
            text-transform: uppercase;
            color: $froly;
            display: block;
            font-size: 24px;
            line-height: 29px
        }
    }
}