.user-data {
    margin: 113px 0 342px 128px;
    width: 42%;

    .user-form-inner {
        margin: 0 0 57px;
    }

    .user-form__title {
        font-weight: 300;
        color: $nero;
        margin: 0 0 20px;
        text-transform: uppercase;
    }

    .user-form__input {
        display: block;
        margin: 0 0 21px;
    }

    .user-form__button {
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        color: $dark-gray;
        border: 1px solid $dark-gray;
        padding: 9px 13px 11px 14px;
        text-transform: uppercase;
    }

    .user-data__price-wrapper {
        background-color: $white-smoke;
        min-height: 214px;
        padding: 39px 34px 42px 44px;
        text-align: end;
        box-sizing: border-box;

        .user-data__price {
            font-weight: 400;
            font-size: 11px;
            line-height: 13px;
            text-transform: uppercase;
            margin: 0 0 12px;
        }

        .user-data__price-large {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            margin: 0 3px 39px 0;
        }

        .user-data__price-large_color {
            color: $froly;
        }

        .user-data__button {
            font-weight: 300;
            color: $white;
            background-color: $froly;
            width: 273px;
            height: 50px;
        }

    }


}